html {
    background: #f3eae8;
}

.tituloP {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration: overline;
    text-shadow: 2px 2px #ffbb55ec;
    font-style: italic;
    font-size: 60px;
}

.container {
    display: flex;
    justify-content: center;
}

.tituloSec {
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 5px;
    margin-top: 0px;
}

div ul {
    font-size: 20px;
    margin-top: 5px;
    list-style: square;
}

div ul a {
    text-decoration: none;
}

.imgPrinc {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container .listaRec{ /*tira as bolas e define como display flex*/
    list-style: none;
    display: flex;
    margin-left: -20px;
}
.container .listaRec li a {
    display: block;
    padding: 20px;
    margin-left: 10px;
    font-size: 18px;
    position: relative; /*descobrir  explicação!!!!!*/

}
.container .listaRec li a::after{ /* Animação da linha quando o cursor esta por cima*/
    content: '';
    position: absolute;
    bottom: 10px;
    left:50%;
    width: 0;
    height: 2px;
    background: #ffbb55ec;
    transition: all 300ms ease-in-out;

}
.container .listaRec li a:hover::after{
    left: 25%;
    width: 50%;
    
}
